<div class="dashboard-info layout-content">

  <div class="header">
    <img src="/assets/img/cd-logo.svg" atl="LittleVista LITE" />
    <img src="/assets/img/slide01.png" class="header-children" />
  </div>

  <div class="main-content">
    <p class="title mdl-typography--display-1-color-contrast">
      Getting Started with Little Vista LITE
    </p>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <img src="/assets/img/absent.png">
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Setting up your centre</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">
            Update your address, phone number and other contact details.
          </span>
        </div>
        <div class="mdl-card__actions">
          <a target="_blank" class="card-button mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://littlevista.wistia.com/medias/m6n21c53eu">
            <i class="material-icons">play_circle_outline</i> Play Video
          </a>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <img src="/assets/img/attendance.png">
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Attendance &amp; Reports</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">
            Manage your daily attendance and realtime reports
          </span>
        </div>
        <div class="mdl-card__actions">
          <a target="_blank" class="card-button mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://littlevista.wistia.com/medias/p0pcc2aox4">
            <i class="material-icons">play_circle_outline</i> Play Video
          </a>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <img src="/assets/img/absent.png">
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">How to use Subventions &amp; ECCE</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">
            Click on the Subventions link to manage ECCE children and prepare an ECCE report.
          </span>
        </div>
        <div class="mdl-card__actions">
          <a target="_blank" class="card-button mdl-button mdl-js-button mdl-typography--text-uppercase" href="https://littlevista.wistia.com/medias/rccl2e069r">
            <i class="material-icons">play_circle_outline</i> Play Video
          </a>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
          <img src="/assets/img/activities.png">
        </div>
        <div class="mdl-card__title">
          <h4 class="mdl-card__title-text">Need more help?</h4>
        </div>
        <div class="mdl-card__supporting-text">
          <span class="mdl-typography--font-light mdl-typography--subhead">
            Contact our support team about premium training and our tablet-based room activity recorder.
          </span>
        </div>
        <div class="mdl-card__actions">
          <a class="card-button mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
            <i class="material-icons">contact_phone</i> Contact Support
          </a>
        </div>
      </div>
    </div>
  </div>
