<div class="backdrop" [@backdrop]="showOccupancyModal">
  <div class="modal" [@modal]="showOccupancyModal">
    <div class="modal-header flex">
      <span class="title flex">{{name}}</span>
      <span class="title flex">{{title}}</span>
      <span class="btn"><mdl-icon (click)="destroy()" class="close-button">close</mdl-icon></span>
    </div>
    <div class="modal-body flex">

      <div class="move-container flex">
      <div class="move-class flex column">
        <div class="date-picker flex column">
          <div class="row flex">
            <div class="left"></div>
            <div class="right flex">
              <span class="col flex strong-text">Move to class:</span>
              <span class="col flex"></span>
              <span class="col flex strong-text">Proposed move date:</span>
              <span class="col flex"></span>
              <span class="col flex"></span>
            </div>
          </div>
          <div class="row flex">
            <div class="left"></div>
            <div class="right flex">
              <span class="col flex">
                <mdl-select [(ngModel)]="moveRoomId" placeholder="Select Room">
                  <mdl-option *ngFor="let room of rooms" [value]="room.id">
                    {{room.name}}
                  </mdl-option>
                </mdl-select>
              </span>
              <span class="col flex"></span>
              <span class="col flex">
                <app-datepicker [(ngModel)]="movedate"></app-datepicker>
              </span>
              <span class="col flex"></span>
              <span class="col flex"></span>
            </div>
          </div>
        </div>
        <div class="room-picker flex column">
          <div class="row flex">
            <div class="left">&nbsp;</div>
            <div class="right flex green-color">
              <span class="col flex strong-text text-indent">Mon</span>
              <span class="col flex strong-text text-indent">Tue</span>
              <span class="col flex strong-text text-indent" >Weds</span>
              <span class="col flex strong-text text-indent">Thurs</span>
              <span class="col flex strong-text text-indent">Fri</span>
            </div>
          </div>
          <div class="row flex">
            <div class="left strong-text">AM</div>
            <div class="right flex">
              <span class="col flex">
                <mdl-select [(ngModel)]="roomId" placeholder="Select Room">
                  <mdl-option *ngFor="let room of rooms" [value]="room.id">
                    {{room.name}}
                  </mdl-option>
                </mdl-select>
              </span>
              <span class="col flex">
                <mdl-select [(ngModel)]="roomId" placeholder="Select Room">
                  <mdl-option *ngFor="let room of rooms" [value]="room.id">
                    {{room.name}}
                  </mdl-option>
                </mdl-select>
              </span>
              <span class="col flex">
                <mdl-select [(ngModel)]="roomId" placeholder="Select Room">
                  <mdl-option *ngFor="let room of rooms" [value]="room.id">
                    {{room.name}}
                  </mdl-option>
                </mdl-select>
              </span>
              <span class="col flex">
                <mdl-select [(ngModel)]="roomId" placeholder="Select Room">
                  <mdl-option *ngFor="let room of rooms" [value]="room.id">
                    {{room.name}}
                  </mdl-option>
                </mdl-select>
              </span>
              <span class="col flex">
                <mdl-select [(ngModel)]="roomId" placeholder="Select Room">
                  <mdl-option *ngFor="let room of rooms" [value]="room.id">
                    {{room.name}}
                  </mdl-option>
                </mdl-select>
              </span>
            </div>
          </div>
          <div class="row flex">
            <div class="left strong-text">PM</div>
            <div class="right flex">
              <span class="col flex">
                <mdl-select [(ngModel)]="roomId" placeholder="Select Room">
                  <mdl-option *ngFor="let room of rooms" [value]="room.id">
                    {{room.name}}
                  </mdl-option>
                </mdl-select>
              </span>
              <span class="col flex">
                <mdl-select [(ngModel)]="roomId" placeholder="Select Room">
                  <mdl-option *ngFor="let room of rooms" [value]="room.id">
                    {{room.name}}
                  </mdl-option>
                </mdl-select>
              </span>
              <span class="col flex">
                <mdl-select [(ngModel)]="roomId" placeholder="Select Room">
                  <mdl-option *ngFor="let room of rooms" [value]="room.id">
                    {{room.name}}
                  </mdl-option>
                </mdl-select>
              </span>
              <span class="col flex">
                <mdl-select [(ngModel)]="roomId" placeholder="Select Room">
                  <mdl-option *ngFor="let room of rooms" [value]="room.id">
                    {{room.name}}
                  </mdl-option>
                </mdl-select>
              </span>
              <span class="col flex">
                <mdl-select [(ngModel)]="roomId" placeholder="Select Room">
                  <mdl-option *ngFor="let room of rooms" [value]="room.id">
                    {{room.name}}
                  </mdl-option>
                </mdl-select>
              </span>
            </div>
          </div>
        </div>
        <div class="btn-picker flex">
          <button mdl-button mdl-ripple class="green-color">SAVE</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>