.ecce-modal {
  width: 80%;
  margin: auto;
  max-width: 1000px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;

  mdl-icon.close-button {
    max-width: 24px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .modal-header {
    position: relative;
    background-color: #4dbe9c;
    color: #fff;
    border-radius: 4px 4px 0 0;
    .child-details {
      display: flex;
      padding: 0 15px;
      align-items: center;

      .ecce-status {
        flex: 0 0 20%;
        display: flex;
        align-items: center;
        padding: 0 30px;

        app-colored-button {
          cursor: pointer;
        }
      }
      .name {
        margin: 0;
        font-size: 1.8rem;
        line-height: 2rem;
      }
    }

    .close-button {
      position: absolute;
      right: 5px;
      top: 5px;
    }

    .control-pills {
      display: flex;

      button {
        flex: 1;
        color: #fff;

        &.active-pill {
          border-bottom: 2px solid #ec058e;
        }
      }
    }
  }
  .modal-body {
    padding: 20px;
    color: #6d6d6d;
    min-height: 300px;
    .error-message {
      color: rgb(213,0,0);
      font-weight: 500;
    }
    & > div {
      .header, .total-value {
        font-weight: bolder;
      }

      &.ecce {
        .total-value {
          font-size: 2rem;
        }

        .row {
          display: flex;
          .col:first-child {
            flex: 0 0 80%;
          }
        }

        .payment-model {
          display: flex;
          width: 50%;
          mdl-switch {
            flex: 1;
            margin-left: 20px;
          }
        }

        .button-bar {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          label {
            width: 145px;
            margin-right: 5px;
          }
        }
      }

      &.costs {
        color: #000;
        p {
          color: #6d6d6d;

          &.fee {
            font-weight: 600;
            font-size: 2rem;
          }
        }
        .row {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;

          &.extras {
            p {
              margin: 0;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            span.extras-value {
              font-size: 16px;
              line-height: 2rem;
            }
          }
          &.totals {
            margin-top: 60px;
          }
          .col {
            margin-right: 20px;
            flex: 1;

            &.col-40 {
              flex: 0 0 40%;
            }
            &.col-90 {
              flex: 90%;
            }
            &.col-10 {
              flex: 0 0 10%;
            }
            mdl-textfield {
              padding: 0 0 20px 0;
              width: auto;
            }
          }
        }
      }

    }
  }
  .control-bar {
    padding: 5px;
    border-top: 1px solid #dedede;
    overflow: hidden;
    .button-right {
      float: right;
      display: inline-flex;
      align-items: center;
    }
  }
}
