<div class="datepicker-wrapper">
  <mdl-textfield
    type="text"
    class="ng-datepicker-input"
    [label]="label"
    floating-label
    (click)="toggle()"
    [ngModel]="viewDate"
    readonly>
  </mdl-textfield>
  <div class="ng-datepicker" *ngIf="opened">
    <div class="controls">
      <div class="left">
        <mdl-icon class="prev-year-btn" (click)="prevYear()">keyboard_arrow_left</mdl-icon>
        <mdl-icon class="prev-month-btn" (click)="prevMonth()">arrow_back</mdl-icon>
      </div>
      <span class="date">
        {{ date.format('MMMM YYYY') }}
      </span>
      <div class="right">
        <mdl-icon class="next-month-btn" (click)="nextMonth()">arrow_forward</mdl-icon>
        <mdl-icon class="next-year-btn" (click)="nextYear()">keyboard_arrow_right</mdl-icon>
      </div>
    </div>
    <div class="day-names">
      <span>Mon</span>
      <span>Tue</span>
      <span>Wed</span>
      <span>Thu</span>
      <span>Fri</span>
      <span>Sat</span>
      <span>Sun</span>
    </div>
    <div class="calendar">
      <span
        *ngFor="let d of days; let i = index;"
        (click)="selectDate($event, i)"
        class="day" [ngClass]="{'disabled': !d.enabled, 'selected': d.selected, 'today': d.today}">
          {{ d.day }}
        </span>
    </div>
  </div>
</div>
