<div class="navbar" mdl-shadow="3">
  <!--//navbar-title-->
  <div class="navbar-title">
    <div class="menu">&nbsp;</div>
    <div class="logo">Little Vista</div>
    <div class="sub-title">{{title}}</div>
  </div>
  <!--//end navbar title-->
  <!--//navbar holder-->
  <div class="navbar-holder" (window:resize)="onResize($event)" [hidden]="!routes">
    <div [class.show]="showLeftArrow" class="arrow arrow-back" (click)="scroll()" mdl-ripple>
      <mdl-icon>arrow_back</mdl-icon>
    </div>
    <div class="navbar-scroll" #nav>
      <a
        class="navbar-item"
        *ngFor="let route of routes"
        [routerLink]="[route.path]"
        routerLinkActive="active-route"
        >
        <p>{{route.link}}</p>
      </a>
    </div>
    <div [class.show]="showRightArrow" class="arrow arrow-forward" #arrow (click)="scroll('right')" mdl-ripple>
      <mdl-icon>arrow_forward</mdl-icon>
    </div>
  </div>
  <!--//end navbar holder-->
</div>