.searchbar {
  position: relative;
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  box-sizing: border-box;

  mdl-icon {
    position: absolute;
    right: 30px;
    top: 35px;
    transition: all .5s ease;
    cursor: pointer;
    -webkit-user-select: none;
    max-width: 24px;
    will-change: right;
  }
  .search-button {
    z-index: 1;
  }
  .clear-button, mdl-textfield {
    opacity: 0;
    visibility: hidden;
    will-change: opacity;
    transition: all 2s ease;
    width: 230px;
  }
  &.active {
    mdl-icon.search-button {
      right: 260px;
    }
    .clear-button, mdl-textfield {
      opacity: 1;
      visibility: visible;
    }
  }
}
