<div class="centre-subventions" [mdl-shadow]="3" *ngIf="centre">
  <div class="title">
    ECCE
  </div>
  <div class="ecce">
    <div class="col">
      <div class="parameter">
        <div class="mask" *ngIf="!editing"></div>
        <span class="name">ECCE Capitations</span>
        <app-ecce-capitations [model]="centre.ecceSettings.capitations" (valueSet)="centre.ecceSettings.capitations = $event"></app-ecce-capitations>
      </div>
      <div class="details">
        <p>Selecting the LOW capitation rate will configure your setting with a weekly ECCE rate of €64.50. This is the standard weekly rate.</p>
        <p>Selecting the HIGH capitation rate will configure your setting with a weekly ECCE rate of €75. Please only select this rate if you are in receipt of the higher capitation.</p>
        <p>To confirm your eligibility please consult the DCYA website or consult this <a href="http://www.dcya.gov.ie/documents/ecce-scheme/20160728ECCEHigherCapitationFAQsJuly2016.pdf" target="_blank">link</a></p>
      </div>
    </div>
  </div>

  <div class="save-button">
    <mdl-spinner [active]="saving"></mdl-spinner>
    <mdl-button mdl-button-type="raised" class="edit" mdl-ripple (click)="editing = true" *ngIf="!editing">
      EDIT
    </mdl-button>
    <mdl-button mdl-button-type="raised" class="cancel" mdl-ripple (click)="cancel()" *ngIf="editing">
      CANCEL
    </mdl-button>
    <mdl-button mdl-button-type="raised" mdl-ripple (click)="saveDetails()" *ngIf="editing">
      SAVE
    </mdl-button>
  </div>
</div>
