<div class="room-accordain">
  <app-move-class class="flex" 
    [showOccupancyModal]="showOccupancyModal"
    [child]="selectedChild"
    (closeModal)="modalClosed()">
  </app-move-class>

  <!--//start accordian header-->
  <div class="accordian-header flex column">
    <div class="row flex">
      <div class="room-title flex flex1">
        <span class="col flex align-items-center text-indent20">{{roomInfo.mdate}}</span>
        <span class="col flex align-items-center">{{getRoomNameById(roomID)}}</span>
      </div>
      <div class="week-picker flex flex2">
        <span class="col flex p-btn align-items-center justify-content-center" *ngFor="let wtab of weekTabs; let idx = index;" (click)="selectWeekPicker(idx)" [class.active]="wtab.active">
          <button mdl-button mdl-ripple>{{wtab.name}}</button>
        </span>
        <span class="col flex" *ngFor="let num of [1,2,3,4,5];">&nbsp;</span>
      </div>
    </div>
    <div class="available-info flex">
      <div class="row flex flex1">
        <span class="col flex">&nbsp;</span>
        <span class="col flex align-items-center">Spaces Available</span>
      </div>
      <div class="flex flex2">
        <div class="row flex" *ngFor="let wtab of weekTabs; let idx = index;">
          <span class="col flex align-items-center justify-content-center">0</span>
          <span class="col flex align-items-center justify-content-center">-</span>
        </div>
        <div class="row flex" *ngFor="let num of [1,2,3,4,5];">&nbsp;</div>
      </div>
    </div>
  </div>
  <!--//end accordian header-->
  <!--//start accordian body-->
  <div class="accordian-body flex">
    <!--//start room info-->
    <div class="room-info flex">
      <div class="room-info-inner flex column">
        <div class="row flex bottom-border strong-text no-padding">
          <span class="col flex5">Staff</span>
          <span class="col flex1 text-center">AM</span>
          <span class="col flex1 text-center">PM</span>
        </div>
        <div class="row flex" *ngIf="staff.length<=0">No assigned Staffs</div>
        <div class="row flex" *ngFor="let _staff of staff;">
          <span class="col flex5">{{_staff.name}}</span>
          <span class="col flex1 text-center"><mdl-icon class="icon" *ngIf="_staff.am">lens</mdl-icon></span>
          <span class="col flex1 text-center"><mdl-icon class="icon" *ngIf="_staff.pm">lens</mdl-icon></span>
        </div>
        <div class="row flex strong-text top-border">
          <span class="col flex5">TOTAL Capacity <br><small>(Age group: 12 - 24 months)</small></span>
          <span class="col flex1 text-center">10</span>
          <span class="col flex1 text-center">10</span>
        </div>
        <div class="row flex">
          <span class="col"><a href="dashboard/occupancy/setup"><button mdl-button mdl-button-type="raised" mdl-ripple>Add Stuff to Room</button></a></span>
        </div>
        <div class="row flex strong-text">
          <span class="col flex5">Available Spaces</span>
          <span class="col flex1 text-center">1</span>
          <span class="col flex1 text-center">2</span>
        </div>
      </div>
    </div>
    <!--//end room info-->
    <!--//start child info am-->
    <div class="children-info-am flex">
      <div class="children-info-am-inner flex column">
        <div class="row flex strong-text bottom-border no-padding">
          <span class="col flex5">{{selectedWeeKFullName}} AM</span>
          <span class="col flex1 text-right">9 of 10</span>
        </div>
        <div class="panels padding-bottom30 flex">
          <div class="panel flex child-list">
            <div class="row flex" (click)="selectChild(child)" *ngFor="let child of childStoreAM;">{{child.name}}</div>
            <div class="row flex"><button mdl-button mdl-button-type="raised" mdl-ripple>SPACE AVAILABLE</button></div>
          </div>
        </div>
        <div class="row flex strong-text bottom-border no-padding">
          <span class="col flex5">Starting next month AM</span>
          <span class="col flex1 text-right">1</span>
        </div>
        <div class="row flex">
          <span class="col">Marius Stanely</span>
        </div>
      </div>
    </div>
    <!--//end child info ap-->
    <div class="children-info-pm flex">
      <div class="children-info-pm-inner flex column">
        <div class="row flex strong-text bottom-border no-padding">
          <span class="col flex5">{{selectedWeeKFullName}} AM</span>
          <span class="col flex1 text-right">8 of 10</span>
        </div>
        <div class="panels padding-bottom30 flex">
          <div class="panel flex child-list">
            <div class="row flex" (click)="selectChild(child)" *ngFor="let child of childStorePM;">{{child.name}}</div>
            <div class="row flex"><button mdl-button mdl-button-type="raised" mdl-ripple>SPACE AVAILABLE</button></div>
          </div>
        </div>
        <div class="row flex strong-text bottom-border no-padding">
          <span class="col flex5">Starting next month PM</span>
          <span class="col flex1 text-right">1</span>
        </div>
        <div class="row flex">
          <span class="col">Marius Stanely</span>
        </div>
      </div>
    </div>
  </div>
  <!--//end accordian body-->
</div>