.presence-bar {
  mdl-button {
    color: rgba(0,0,0,.12);
    padding: 0 20px !important;
    min-width: 20px;

    &.active {
      color: #fff;
    }
    &.status-in {
      background-color: #dffbdd;

      &.active {
        background-color: #70cc69;
      }
    }

    &.status-out {
      background-color: #f1efef;

      &.active {
        background-color: #a0a0a0;
      }
    }

    &.status-absent {
      background-color: #ffe3e3;

      &.active {
        background-color: #e49696;
      }
    }
  }
}
