<div class="plan-dashboard" mdl-shadow="3">
  <!--//start date-picker-->
  <div class="date-picker flex">
    <div class="left">
    </div>
    <div class="right flex">
      <div class="side-btns flex flex1 justify-content-start">
        <button mdl-button mdl-ripple>
          <mdl-icon>keyboard_arrow_left</mdl-icon>back
        </button>
      </div>
      <div class="picker-btns flex flex3 align-items-center" >
        <!--<span class="p-btn" *ngFor="let tab of dateTabs; let idx = index;" (click)="selDatePicker(idx)" [class.active]=="tab.active">
          <button mdl-button mdl-ripple>{{tab.name}}</button>
        </span>-->
        Spaces Available
      </div>
      <div class="side-btns flex flex1 justify-content-end">
        <button mdl-button mdl-ripple>
          next<mdl-icon>keyboard_arrow_right</mdl-icon>
        </button>
      </div>
    </div>
  </div>
  <!--//end date-picker-->
  <!--//start picked-data-->
  <div class="picked-data flex column">
    <div class="date-header flex">
      <div class="left"></div>
      <div class="right flex">
        <div class="row" *ngFor="let date of dates">
          <div class="col">
            {{date}}
          </div>
        </div>
      </div>
    </div>
    <!--//start list contents-->
    <div class="list-content flex column">
      <div class="ap-header flex">
        <div class="left"></div>
        <div class="right flex">
          <div class="row" *ngFor="let ap of items">
            <div class="col">AM</div>
            <div class="col">PM</div>
          </div>
        </div>
      </div>
      <!--//start contents-->
      <div class="contents flex" *ngFor="let roomList of dashboardData; let idx = index;">
        <div class="left">
          <div class="row flex">
            <div class="flex column">
              <div class="info">{{getRoomNameById(roomList.roomId)}}</div>
              <div class="cation">Capacity: {{roomList.capacity}}</div>
            </div>
          </div>
        </div>
        <div class="right flex">
          <div class="row" *ngFor="let data of roomList.roomInfo; let jdx = index;" (click)="selectCell(idx, jdx)" [class.active]="data.active">
            <div class="col" [class.color]="data.available.am<0">
              {{data.available.am}}
            </div>
            <div class="col" [class.color]="data.available.pm<0">
              {{data.available.pm}}
            </div>
          </div>
         </div>
         <div class="accordian flex">
           <app-room-info-accordian [hidden]="!roomList.accordionState" [roomID]="selectedRoomID" [roomInfo]="selectedRoomInfo" class="flex"></app-room-info-accordian>
         </div>
      </div>
      <!--//end contents-->
    </div>
    <!--//end list contents-->
  </div>
  <!--//end picked data   -->
</div>