<div class="easy-fees-intro">
  <div class="intro-header">
    <h2 class="header-text">Easy Fees</h2>
    <mdl-button mdl-shadow="6" mdl-ripple routerLink="../setup">
      Get Started
    </mdl-button>
  </div>
  <div class="fee-policy">
    <p>Intro text including feedback from ECI regarding Fee Policy</p>
  </div>
  <div class="info-cards">
    <div class="info-card" mdl-shadow="6">
      <div class="card-media">
        <img src="/assets/img/easy-fees/intro.svg" alt="">
      </div>
      <div class="card-body">
        <p class="card-title">
          Introduction
        </p>
        <p class="card-text">
          Collect and manage payments using Easy Fees. Automatically debit
          customer accounts or track cash payments.
        </p>
      </div>
      <div class="card-actions">
        <mdl-button mdl-ripple>
          <mdl-icon>play_circle_outline</mdl-icon>
          Play Video
        </mdl-button>
      </div>
    </div>
    <div class="info-card" mdl-shadow="6">
      <div class="card-media">
        <img src="/assets/img/easy-fees/step-1.svg" alt="">
      </div>
      <div class="card-body">
        <p class="card-title">
          Step 1
        </p>
        <p class="card-subtitle">
          Upload documentation
        </p>
        <p class="card-text">
          To set you up as a merchant we will need some documentation for AML
          purposes.
        </p>
      </div>
      <div class="card-actions">
        <mdl-button mdl-ripple>
          <mdl-icon>play_circle_outline</mdl-icon>
          Play Video
        </mdl-button>
      </div>
    </div>
    <div class="info-card" mdl-shadow="6">
      <div class="card-media">
        <img src="/assets/img/easy-fees/step-2.svg" alt="">
      </div>
      <div class="card-body">
        <p class="card-title">
          Step 2
        </p>
        <p class="card-subtitle">
          Collect E-Mandates
        </p>
        <p class="card-text">
          In order to collect fee’s from parents by direct debit each
          parent will need to return an electronic mandate.
        </p>
      </div>
      <div class="card-actions">
        <mdl-button mdl-ripple>
          <mdl-icon>play_circle_outline</mdl-icon>
          Play Video
        </mdl-button>
      </div>
    </div>
    <div class="info-card" mdl-shadow="6">
      <div class="card-media">
        <img src="/assets/img/easy-fees/step-3.svg" alt="">
      </div>
      <div class="card-body">
        <p class="card-title">
          Step 3
        </p>
        <p class="card-subtitle">
          Collect Payments!
        </p>
        <p class="card-text">
          Once the e-mandates have been returned you can start to collect
          payments by direct debit.
        </p>
      </div>
      <div class="card-actions">
        <mdl-button mdl-ripple>
          <mdl-icon>play_circle_outline</mdl-icon>
          Play Video
        </mdl-button>
      </div>
    </div>
  </div>
</div>
