.simple-modal {
  .select-row {
    display: flex;
    width: 350px;

    mdl-select {
      margin-right: 10px;
      max-width: 49%;
    }
  }
  .room-name {
    width: 350px;
  }
  .capacity, .ecce-capitations, .room-name {
    flex: 1;
  }

  .ecce-capitations {
    margin-left: 10px;

    label {
      display: block;
      color: rgb(63, 81, 181);
      font-size: 12px;
      margin-top: 4px;
    }

  }

  .error-message {
    margin: 5px 0;
    min-height: 24px;
  }

  .save-button {
    text-align: right;
  }
}
