.padding5{
    padding: 15px 0px !important;
}
//plan room list
.room-lists{
    border-radius: 5px;
    .panel-header{
        background-color: #54c3be;
        border-radius: 5px 5px 0px 0px;
        font-size: 1.1em;
        font-weight: bold;
        min-height: 40px;
        line-height: 40px;
       .btn-tab{
            button{
                color: white;
                font-size: 0.8em;
                font-weight: bold;
            }
            &.active{
                border-bottom: 2px solid white;
            }
        }
    }
    .panel-body{
        border-radius: 0px 0px 5px 5px;
        background-color: white;
        min-height: 30px;
        padding: 20px;
        .panel-body-inner{
            color: #525252;
            .trans-title{
                align-items: flex-end;
            }
        }
        .header{
            color: #999;
        }
        .filter{
            justify-content: flex-end;
        }
    }
    .mdl-textfield{
        padding: none !important;
    }
    .icon{
        font-size: 1em;
        color: #6dc49c;
        &.stuff-no{
            color: #afafaf !important;
        }
    }
    .col{
        cursor: pointer;
    }
}