<div class="room-lists" mdl-shadow="2">
    <!--//Occupancy Child.-->
    <app-occupancy-chlid class="flex" 
      [showChildModal]="showChildModal"
      [child]="selectedChild"
      (closeModal)="modalClosed()">
    </app-occupancy-chlid>
    
    <div class="panel-header flex">
      <div class="row flex">
        <div class="row flex flex1">
          <span class="header-title text-indent30">1-Select Room</span>
        </div>
        <div class="row flex flex7">
          <app-scroll-navbar [datas]="rooms" [hidden]="!rooms" (sendData)="selectRoom($event)" class="flex"></app-scroll-navbar>
        </div>
      </div>
    </div>
    <!--//start rooms list-->
    <div class="panel-body">
      <div class="panel-body-inner flex column">
        <!--<div class="row flex picker-row">
            <div class="month-picker">
              <mdl-icon (click)="prevMonth()">keyboard_arrow_left</mdl-icon>
              <span class="title">
                <b>{{currentDate.toDate() | date:'MMMM'}}</b> {{currentDate.toDate() | date:'yyyy'}}
              </span>
              <mdl-icon (click)="nextMonth()">keyboard_arrow_right</mdl-icon>
            </div>
            <div class="week-picker">
              <mdl-icon (click)="prevWeek()">keyboard_arrow_left</mdl-icon>
              <span class="title"> WEEK {{ currentDate.week() }} </span>
              <mdl-icon (click)="nextWeek()">keyboard_arrow_right</mdl-icon>
            </div>
        </div>-->

        <div class="row flex select-month-and-view-occupancy column">
          <div class="row flex select-month">
            <div class="row flex flex2 align-items-center text-indent10">2-Select Month</div>
            <div class="row flex flex10 justify-content-around">
              <div class="row flex" *ngFor="let month of months" (click)="selectMonth(month.id)">
                <span class="col flex flex6 justify-content-center" [class.active]="month.selected">{{month.name}}</span>
                <span class="col flex flex1"></span>
              </div>
            </div>
          </div>
          <div class="row flex view-occupancy">
            <div class="row flex flex2 column">
              <div class="col flex text-indent10">Total Capacity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20</div>
              <div class="col flex text-indent10">&nbsp;</div>
              <div class="col flex text-indent10">Staff Required&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3</div>
            </div>
            <div class="row flex flex10 column">
              <div class="row flex justify-content-around apm-repeat">
                <div class="row flex" *ngFor="let num of [1,2,3,4,5,6,7,8,9]">
                  <span class="col flex flex3 justify-content-center">AM</span>
                  <span class="col flex flex3 justify-content-center">PM</span>
                  <span class="col flex flex1"></span>
                </div>
                <div class="row flex" *ngFor="let num of [1,2,3]">
                  <span class="col flex flex3 justify-content-center">AM</span>
                  <span class="col flex flex3 justify-content-center">PM</span>
                  <span class="col flex flex1"></span>
                </div>
              </div>
              <div class="row flex justify-content-around">
                <div class="row flex" *ngFor="let num of [1,2,3,4,5,6,7,8,9]">
                  <div class="col flex flex3 justify-content-center"><span class="op-empty least"><b style="height:30%" class="op-full"></b></span></div>
                  <div class="col flex flex3 justify-content-center"><span class="op-empty"><b class="op-full"></b></span></div>
                  <div class="col flex flex1"></div>
                </div>
                <div class="row flex" *ngFor="let num of [1,2,3]">
                  <div class="col flex flex3 justify-content-center"><span class="op-empty"><b style="height:70%" class="op-full"></b></span></div>
                  <div class="col flex flex3 justify-content-center"><span class="op-empty least"><b style="height:50%" class="op-full"></b></span></div>
                  <div class="col flex flex1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row flex bottom-border padding-top-bottom-10">
          <div class="row flex flex3 column">
            <div class="row flex">&nbsp;</div>
            <div class="row flex header">
              <span class="col flex">Child Name</span>
              <span class="col flex">Child Age</span>
              <span class="col flex">Official Start Date</span>
              <span class="col flex">Room Start Date</span>
            </div>
          </div>
          <div class="row flex flex2 column">
            <div class="row flex header">
              <span class="col flex">Mon/ {{week[0].date}}</span>
              <span class="col flex">Tue/ {{week[1].date}}</span>
              <span class="col flex">Wed/ {{week[2].date}}</span>
              <span class="col flex">Thur/ {{week[3].date}}</span>
              <span class="col flex">Fri/ {{week[4].date}}</span>
            </div>
            <div class="row flex">
              <div class="row flex" *ngFor="let num of [1,2,3,4,5]">
                <span class="col flex strong-text">AM</span>
                <span class="col flex strong-text">PM</span>
                <span class="col flex strong-text">&nbsp;</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row flex padding-top-bottom-10" *ngIf="childs.length<=0">No Children list.</div>
        <div class="row flex bottom-border padding-top-bottom-10" *ngFor="let child of childs;" (click)="selectRoomChild(child)">
          <div class="row flex flex3">
              <span class="col flex">{{child.name}}</span>
              <span class="col flex">{{child.age}}</span>
              <span class="col flex">{{child.officialStartdate}}</span>
              <span class="col flex">{{child.roomStartdate}}</span>
          </div>
          <div class="row flex flex2">
              <div class="row flex">
                <span class="col flex strong-text align-items-center"><mdl-icon class="icon" *ngIf="child.assignedState.mon.am!=0">lens</mdl-icon></span>
                <span class="col flex strong-text align-items-center"><mdl-icon class="icon" *ngIf="child.assignedState.mon.pm!=0">lens</mdl-icon></span>
                <span class="col flex strong-text">&nbsp;</span>
              </div>
              <div class="row flex">
                <span class="col flex strong-text align-items-center"><mdl-icon class="icon" *ngIf="child.assignedState.tue.am!=0">lens</mdl-icon></span>
                <span class="col flex strong-text align-items-center"><mdl-icon class="icon" *ngIf="child.assignedState.tue.pm!=0">lens</mdl-icon></span>
                <span class="col flex strong-text">&nbsp;</span>
              </div>
              <div class="row flex">
                <span class="col flex strong-text align-items-center"><mdl-icon class="icon" *ngIf="child.assignedState.wed.am!=0">lens</mdl-icon></span>
                <span class="col flex strong-text align-items-center"><mdl-icon class="icon" *ngIf="child.assignedState.wed.pm!=0">lens</mdl-icon></span>
                <span class="col flex strong-text">&nbsp;</span>
              </div>
              <div class="row flex">
                <span class="col flex strong-text align-items-center"><mdl-icon class="icon" *ngIf="child.assignedState.thu.am!=0">lens</mdl-icon></span>
                <span class="col flex strong-text align-items-center"><mdl-icon class="icon" *ngIf="child.assignedState.thu.pm!=0">lens</mdl-icon></span>
                <span class="col flex strong-text">&nbsp;</span>
              </div>
              <div class="row flex">
                <span class="col flex strong-text align-items-center"><mdl-icon class="icon" *ngIf="child.assignedState.fri.am!=0">lens</mdl-icon></span>
                <span class="col flex strong-text align-items-center"><mdl-icon class="icon" *ngIf="child.assignedState.fri.pm!=0">lens</mdl-icon></span>
                <span class="col flex strong-text">&nbsp;</span>
              </div>
          </div>
        </div>
        <div class="row flex footer" *ngIf="childs.length>0">
          <div class="row flex flex3">
            <span class="col flex">TOTAL</span>
          </div>
          <div class="row flex flex2">
              <div class="row flex">
                <span class="col flex strong-text align-items-center">{{getRoomCapacityByRoomId("mon","am")}}</span>
                <span class="col flex strong-text align-items-center">{{getRoomCapacityByRoomId("mon","pm")}}</span>
                <span class="col flex strong-text">&nbsp;</span>
              </div>
              <div class="row flex">
                <span class="col flex strong-text align-items-center">{{getRoomCapacityByRoomId("tue","am")}}</span>
                <span class="col flex strong-text align-items-center">{{getRoomCapacityByRoomId("tue","pm")}}</span>
                <span class="col flex strong-text">&nbsp;</span>
              </div>
              <div class="row flex">
                <span class="col flex strong-text align-items-center">{{getRoomCapacityByRoomId("wed","am")}}</span>
                <span class="col flex strong-text align-items-center">{{getRoomCapacityByRoomId("wed","pm")}}</span>
                <span class="col flex strong-text">&nbsp;</span>
              </div>
              <div class="row flex">
                <span class="col flex strong-text align-items-center">{{getRoomCapacityByRoomId("thu","am")}}</span>
                <span class="col flex strong-text align-items-center">{{getRoomCapacityByRoomId("thu","pm")}}</span>
                <span class="col flex strong-text">&nbsp;</span>
              </div>
              <div class="row flex">
                <span class="col flex strong-text align-items-center">{{getRoomCapacityByRoomId("fri","am")}}</span>
                <span class="col flex strong-text align-items-center">{{getRoomCapacityByRoomId("fri","pm")}}</span>
                <span class="col flex strong-text">&nbsp;</span>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!--//end rooms list-->
</div>