/* Warning this component uses no ViewEncapsulation */
.centre-children {
  .flex-card {
    margin: 0;
    margin-right: 20px;
    .col.avatar-col {
      flex: 0 0 5%;
      img {
        border-radius: 50%;
        width: 4rem;
      }
    }
  }
  .add-children {
    position: fixed;
    right: 20px;
    bottom: 5vh;
  }
}
