<app-modal [showModal]="showModal">
  <app-add-child (closeModal)="modalClosed($event)" [rooms]="rooms" [child]="selectedChild"></app-add-child>
</app-modal>
<app-confirm-dialog [showDialog]="confirmDelete" (closeDialog)="confirmDeleteChild($event)" [message]="deleteMessage"></app-confirm-dialog>
<app-flex-card
  [loading]="loading"
  [options]="tableOptions"
  [collection]="children"
  class="centre-children">
  <app-searchbar (searchFilter)="handleFilter($event)"></app-searchbar>
  <div class="row" *ngFor="let child of children" (click)="editChild(child)">
    <div class="col avatar-col">
      <img src={{child.picture}} alt="Child Avatar" />
    </div>
    <div class="col name-col">
      {{child.name}}
    </div>
    <div class="col">
      {{child.room || '-'}}
    </div>
    <div class="col">
      <mdl-button class="remove-child" mdl-button-type="icon" mdl-colored="accent" (click)="deleteChild($event, child)">
        <mdl-icon>delete</mdl-icon>
      </mdl-button>
    </div>
  </div>
  <mdl-button mdl-button-type="fab" class="add-children" mdl-colored="accent" mdl-ripple mdl-shadow="8" (click)="addChild()">
    <mdl-icon>add</mdl-icon>
  </mdl-button>
</app-flex-card>
