<div class="register-card">
  <div class="card-title">
    <mdl-progress [indeterminate]="true" *ngIf="loading"></mdl-progress>
    <img class="vista-logo" src="/assets/img/logo-small.png" alt="Little Vista logo" />
    <span>LITE</span>
  </div>
  <div class="card-body" (keydown.enter)="register()">
    <form [formGroup]="registerForm">
      <mdl-textfield
          type="email"
          label="Email"
          floating-label
          [class.is-invalid]="email.touched && email.invalid"
          error-msg="Please enter a valid email"
          disableNativeValidityChecking
          formControlName="email">
      </mdl-textfield>
      <mdl-textfield
          type="password"
          label="Password"
          floating-label
          [class.is-invalid]="password.touched && password.invalid"
          disableNativeValidityChecking
          error-msg="Password needs to be at least 6 characters"
          formControlName="password">
      </mdl-textfield>
      <mdl-textfield
          type="text"
          label="Name"
          floating-label
          [class.is-invalid]="name.touched && name.invalid"
          disableNativeValidityChecking
          error-msg="Name is required"
          formControlName="name">
      </mdl-textfield>
      <mdl-textfield
          type="text"
          label="Business Name"
          floating-label
          [class.is-invalid]="businessName.touched && businessName.invalid"
          disableNativeValidityChecking
          error-msg="Business Name is required"
          formControlName="businessName">
      </mdl-textfield>
    </form>
    <p class="error-message">
      {{errorMessage}}
    </p>
    <mdl-button mdl-button-type="raised" mdl-ripple (click)="register()">
      Create an account
    </mdl-button>
  </div>
</div>
