<div class="backdrop" [@backdrop]="showModal">
  <div class="modal" [@modal]="showModal" [mdl-shadow]="6">
    <div class="add-families-header flex">
      <span class="tab flex" (click)="selectFamiliesType(0)" [class.active]="selectedTabIndex === 0">1.Add Children</span>
      <span class="tab flex" (click)="selectFamiliesType(1)" [class.active]="selectedTabIndex !== 0">2.Add Guardian</span>
      <span class="close"><mdl-icon (click)="destroy()" class="close-button">close</mdl-icon></span>
    </div>
    <div class="add-families-body flex">
      <div class="add-families-inner flex column">
        <!--//start add child-->
        <div class="row flex column" *ngIf="selectedTabIndex === 0">
          
          <div class="row flex row-header border-bottom">
            <div class="col flex">Name</div>
            <div class="col flex">Date of Birth</div>
            <div class="col flex">Select a Room</div>
            <div class="col flex">Start Date</div>
          </div>

          <div class="row flex column flexible-container border-bottom">
            <div class="row flex border-bottom" *ngFor="let children of family.childrens; let idx = index;">
              <div class="col flex">
                <mdl-textfield floating-label [(ngModel)]="children.name" ></mdl-textfield>
              </div>
              <div class="col flex">
                <app-datepicker [(ngModel)]="children.birthdate" ></app-datepicker>
              </div>
              <div class="col flex">
                <mdl-select [(ngModel)]="children.roomId" placeholder="Select a Room">
                  <mdl-option *ngFor="let room of rooms" [value]="room.id">
                    {{room.name}}
                  </mdl-option>
                </mdl-select>
              </div>
              <div class="col flex">
                <app-datepicker [(ngModel)]="children.startdate" view-format="Do MMM YYYY"></app-datepicker>
              </div>
            </div>
          </div>

          <div class="row flex add-button border-bottom">
            <div class="col flex" (click)="addAnotherChild()">Add another child</div>
          </div>

          <div class="row flex column sibling" *ngIf="isTablet">
            <div class="row flex header">
              <div class="col">Link a sibling</div>
            </div>
            <div class="row flex">
              <div class="col flex selector">
                <mdl-select [(ngModel)]="roomId" placeholder="Select Room">
                  <mdl-option *ngFor="let room of rooms" [value]="room.id">
                    {{room.name}}
                  </mdl-option>
                </mdl-select>
              </div>
              <div class="col flex link-button">
                <mdl-button mdl-button-type="raised" mdl-ripple>Link another sibling</mdl-button>
              </div>
            </div>
          </div>
        </div>
        <!--//end add child-->
        <!--//start add guardian-->
        <div class="row flex column container" *ngIf="selectedTabIndex !== 0">

          <div class="row flex row-header border-bottom">
            <div class="col flex">Name</div>
            <div class="col flex">Email</div>
            <div class="col flex">Phone</div>
            <div class="col flex">Address</div>
          </div>

          <div class="row flex column flexible-container border-bottom">
            <div class="row flex border-bottom" *ngFor="let guardian of family.guardians; let idx = index;">
              <div class="col flex">
                <mdl-textfield floating-label [(ngModel)]="guardian.name"></mdl-textfield>
              </div>
              <div class="col flex">
                <mdl-textfield floating-label [(ngModel)]="guardian.email"></mdl-textfield>
              </div>
              <div class="col flex">
                <mdl-textfield floating-label [(ngModel)]="guardian.phone"></mdl-textfield>
              </div>
              <div class="col flex">
              <mdl-textfield floating-label [(ngModel)]="guardian.address"></mdl-textfield>
              </div>
            </div>
          </div>

          <div class="row flex add-button border-bottom">
            <div class="col flex" (click)="addAnotherGuard()">Add another guardian</div>
          </div>
          <div class="row flex padding-bottom30"></div>
        </div>
        <!--//end add guardian-->
        <div class="row flex">
          <div class="col flex error-msg" [hidden]="!errorMessage">{{errorMessage}}</div>
          <div class="col flex save-btn">
            <button mdl-button mdl-ripple (click)="saveFamilies()">SAVE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
