<app-navbar title="Attendance"></app-navbar>
<app-navbar-small [routes]="routes"></app-navbar-small>
<div class="layout-content">
  <app-flex-card
    [collection]="children"
    [loading]="loading"
    [options]="tableOptions"
    class="attendance">
    <app-searchbar (searchFilter)="handleFilter($event)"></app-searchbar>
    <div class="row" *ngFor="let child of children">
      <div class="col">
        <img src={{child.picture}} alt="Child's Avatar">
      </div>
      <div class="col">
        {{child.name}}
      </div>
      <div class="col presence-col">
        <app-presence-bar [child]="child"></app-presence-bar>
      </div>
      <div class="col time-col" *ngIf="!child.editState || child.editState == 'OUT'">
        <span (click)="editTime(child, 'IN')">
          {{getAttendanceStatusTime(child, 'IN')}}
        </span>
      </div>
      <div class="col time-col" *ngIf="child.editState">
        <app-timepicker [currentTime]="currentTime" (timeChanged)="handleTimechange($event, child)"></app-timepicker>
      </div>
      <div class="col time-col" *ngIf="!child.editState || child.editState == 'IN'">
        <span (click)="editTime(child, 'OUT')">
          {{getAttendanceStatusTime(child, 'OUT')}}
        </span>
      </div>
    </div>
  </app-flex-card>
</div>
