<div class="waiting-lists" mdl-shadow="2">
    <!--//remove child in waiting room and assign to any room.-->
    <app-remove-waiting-child class="flex" 
      [showOccupancyModal]="showOccupancyModal"
      [child]="selectedChild"
      [rooms]="rooms"
      (moveFromWaitRoomToRoom)="moveFromWaitRoomToRoom($event)"
      (closeModal)="modalClosed()">
    </app-remove-waiting-child>

    <div class="panel-header flex">
      <div class="row flex">
        <div class="row flex flex1 justify-content-center">
          <span class="btn-tab" (click)="selectDate('0')" [class.active]="selectedDateID==='0'">
            <button mdl-button mdl-ripple>View All</button>
          </span>
        </div>
        <div class="row flex flex7">
          <app-scroll-navbar [datas]="months" [hidden]="!months" (sendData)="selectDate($event)" class="flex"></app-scroll-navbar>
        </div>
      </div>
    </div>
    <!--//start waiting room-->
    <div class="panel-body">
      <div class="panel-body-inner flex column">
          <div class="row flex title">{{selectedDateFullName}}</div>
          <div class="row flex header bottom-border padding-top-bottom-10">
            <div class="col flex">Parent Name</div>
            <div class="col flex">Parent Email</div>
            <div class="col flex">Paperwork</div>
            <div class="col flex">Assign to Room</div>
            <div class="col flex">Start Date</div>
            <div class="col flex">Child DOB</div>
          </div>
          <div class="row flex padding-top-bottom-10" *ngIf="waitingChild.length<=0">No Waiting list.</div>
          <div class="row flex bottom-border padding-top-bottom-10" *ngFor="let child of waitingChild" (click)="selectWaitChild(child)">
            <div class="col flex">{{child.parentName}}</div>
            <div class="col flex">{{child.parentEmail}}</div>
            <div class="col flex">{{child.paperwork ? "Returned" : "NOT RETURNED"}}</div>
            <div class="col flex">{{getRoomNameById(child.movetoRoom)}}</div>
            <div class="col flex">{{child.officialStartdate | date: "dd/MM/yyyy"}}</div>
            <div class="col flex">{{child.birthdate}}</div>
          </div>
      </div>
    </div>
    <!--//end waiting room-->
</div>