<div class="waiting-lists" mdl-shadow="2">
    <!--//remove child in waiting room and assign to any room.-->
    <app-remove-waiting-child class="flex" 
      [showOccupancyModal]="showOccupancyModal"
      [child]="selectedChild"
      [rooms]="rooms"
      (moveFromWaitRoomToRoom)="moveFromWaitRoomToRoom($event)"
      (closeModal)="modalClosed()">
    </app-remove-waiting-child>

    <div class="panel-header flex">
      <div class="row flex">
        <div class="row flex">
          <span class="btn-tab" (click)="selectDate('0')" [class.active]="selectedDateID==='0'">
            <button mdl-button mdl-ripple>View All</button>
          </span>
        </div>
        <!--<div class="row flex flex7">
          <app-scroll-navbar [datas]="months" [hidden]="!months" (sendData)="selectDate($event)" class="flex"></app-scroll-navbar>
        </div>-->
      </div>
    </div>
    <!--//start waiting room-->
    <div class="panel-body">
      <div class="panel-body-inner flex column">
          <!--<div class="row flex title">{{selectedDateFullName}}</div>-->
          <div class="row flex header bottom-border padding-top-bottom-10">
            <div class="col flex flex2">Parent Name</div>
            <div class="col flex flex2">Parent Email</div>
            <div class="col flex flex2">Paperwork</div>
            <div class="col flex flex2">Assign to Room</div>
            <div class="col flex flex2">Start Date</div>
            <div class="col flex flex2">Child DOB</div>
            <div class="col flex flex1"></div>
          </div>
          <div class="row flex padding-top-bottom-10" *ngIf="waitingChild.length<=0">No Waiting list.</div>
          <div class="row flex bottom-border padding-top-bottom-10" *ngFor="let child of waitingChild" (click)="selectWaitChild(child)">
            <div class="col flex flex2">{{child.parentName}}</div>
            <div class="col flex flex2">{{child.parentEmail}}</div>
            <div class="col flex flex2">{{child.paperwork ? "Returned" : "NOT RETURNED"}}</div>
            <div class="col flex flex2">{{getRoomNameById(child.movetoRoom)}}</div>
            <div class="col flex flex2">{{child.officialStartdate | date: "dd/MM/yyyy"}}</div>
            <div class="col flex flex2">{{child.birthdate}}</div>
            <div class="col flex flex1"><span class="edit-button">EDIT</span></div>
          </div>
      </div>
    </div>
    <!--//end waiting room-->
    <mdl-button mdl-button-type="fab" class="add-moving-child" mdl-colored="accent" mdl-ripple mdl-shadow="8" (click)="selectWaitChild(newChild)">
      <mdl-icon>add</mdl-icon>
    </mdl-button>
</div>