<app-add-new-families 
  [showModal]="showModal"
  [isEdit]="isEdit"
  [maxID]="maxID"
  [rooms]="rooms"
  [family]="selectedFamily"
  [selectedTabIndex]="selectedTabIndex"
  (closeModal)="modalClosed()">
</app-add-new-families>

<app-flex-card
  [loading]="loading"
  [options]="tableOptions"
  [collection]="families"
  class="centre-families">
  <app-searchbar (searchFilter)="handleFilter($event)"></app-searchbar>
  <div class="row" *ngFor="let family of families;">
    <div class="col image-col">
      <img src="/assets/img/default_avatar.png" atl="LittleVista LITE" />
    </div>
    <div class="col name-col" (click)="controlFamilies(true, family, 0)">
      <span>{{getChildrenNames(family.childrens)}}</span>
    </div>
    <div class="col name-col" (click)="controlFamilies(true, family, 1)">
      <span>{{getGuardianNames(family.guardians)}}</span>
    </div>
    <div class="col empty-col"></div>
  </div>
  <mdl-button mdl-button-type="fab" class="add-families" mdl-colored="accent" mdl-ripple mdl-shadow="8" (click)="controlFamilies(false)">
    <mdl-icon>add</mdl-icon>
  </mdl-button>
</app-flex-card>
