/* Warning this component uses no view encapsulation */
.ecce-subventions .flex-card {
    .col {
      &.attendance {
        flex: 1 1 50%;
        text-align: left;
      }
      &.status {
        flex: 0 0 10%;
      }
      &.start-date {
        flex: 0 0 10%;
      }
      &.child-name {
        flex: 1 1 15%;
        text-align: left;
      }
    }
}
