<div class="backdrop" [@backdrop]="showOccupancyModal">
  <div class="modal" [@modal]="showOccupancyModal">
    <div class="modal-header flex">
      <span class="title flex">{{title}}</span>
      <span class="btn"><mdl-icon (click)="destroy()" class="close-button">close</mdl-icon></span>
    </div>
    <div class="modal-body flex">

      <div class="remove-container flex">
        
        <div class="remove-child flex">
          <!--//start first panel-->
          <div class="col flex flex1 column">
            <div class="row flex">Name</div>
            <div class="row flex padding-bottom20"><mdl-textfield [(ngModel)]="child.name" readonly></mdl-textfield></div>
            <div class="row flex">&nbsp;</div>
            <div class="row flex strong-text">Step.1</div>
            <div class="row flex gray-color">Add an induction date when you are ready to add this child</div>
            <div class="row flex padding-bottom20">&nbsp;</div>
            <div class="row flex strong-text">Step.2</div>
            <div class="row flex gray-color">Add an induction date when you are ready to add this child</div>
            <div class="row flex">&nbsp;</div>
          </div>
          <div class="col flex flex3 column">
            <div class="row flex">
              <span class="col flex">Parent Email</span>
              <span class="col flex">Deposit</span>
              <span class="col flex">Paperwork Returned</span>
            </div>
            <div class="row flex padding-bottom20">
              <span class="col flex"><mdl-textfield [(ngModel)]="child.parentEmail" ></mdl-textfield></span>
              <span class="col flex"><mdl-textfield [value]="getDepositNameById(child.deposit)" readonly></mdl-textfield></span>
              <span class="col flex align-items-center">
                <mdl-checkbox  [mdl-ripple]="true" [(ngModel)]="child.paperwork" >
                YES
                </mdl-checkbox>
                <!--<mdl-radio name="group1" value="1" [(ngModel)]="radioOption">YES</mdl-radio>-->
              </span>
            </div>
            <div class="row flex gray-color">
              <span class="col flex">Mon</span>
              <span class="col flex">Tue</span>
              <span class="col flex">Wed</span>
              <span class="col flex">Thur</span>
              <span class="col flex">Fri</span>
            </div>
            <div class="row flex bottom-border">
              <div class="row flex" *ngFor="let num of [1,2,3,4,5]">
                <span class="col flex strong-text">AM</span>
                <span class="col flex strong-text">PM</span>
                <span class="col flex"></span>
              </div>
            </div>
            <div class="row flex bottom-border align-items-center padding-top-bottom">
              <div class="row flex">
                <span class="col flex strong-text"><mdl-checkbox [mdl-ripple]="true" [(ngModel)]="child.assignedState.mon.am"></mdl-checkbox></span>
                <span class="col flex strong-text"><mdl-checkbox [mdl-ripple]="true" [(ngModel)]="child.assignedState.mon.pm"></mdl-checkbox></span>
                <span class="col flex"></span>
              </div>
              <div class="row flex">
                <span class="col flex strong-text"><mdl-checkbox [mdl-ripple]="true" [(ngModel)]="child.assignedState.tue.am"></mdl-checkbox></span>
                <span class="col flex strong-text"><mdl-checkbox [mdl-ripple]="true" [(ngModel)]="child.assignedState.tue.pm"></mdl-checkbox></span>
                <span class="col flex"></span>
              </div>
              <div class="row flex">
                <span class="col flex strong-text"><mdl-checkbox [mdl-ripple]="true" [(ngModel)]="child.assignedState.wed.am"></mdl-checkbox></span>
                <span class="col flex strong-text"><mdl-checkbox [mdl-ripple]="true" [(ngModel)]="child.assignedState.wed.pm"></mdl-checkbox></span>
                <span class="col flex"></span>
              </div>
              <div class="row flex">
                <span class="col flex strong-text"><mdl-checkbox [mdl-ripple]="true" [(ngModel)]="child.assignedState.thu.am"></mdl-checkbox></span>
                <span class="col flex strong-text"><mdl-checkbox [mdl-ripple]="true" [(ngModel)]="child.assignedState.thu.pm"></mdl-checkbox></span>
                <span class="col flex"></span>
              </div>
              <div class="row flex">
                <span class="col flex strong-text"><mdl-checkbox [mdl-ripple]="true" [(ngModel)]="child.assignedState.fri.am"></mdl-checkbox></span>
                <span class="col flex strong-text"><mdl-checkbox [mdl-ripple]="true" [(ngModel)]="child.assignedState.fri.pm"></mdl-checkbox></span>
                <span class="col flex"></span>
              </div>
            </div>
            <div class="row flex padding-bottom20">&nbsp;</div>
            <div class="row flex">
              <span class="col flex strong-text">Select a Room</span>
              <span class="col flex strong-text">Start Date</span>
              <span class="col flex strong-text">End Date</span>
            </div>
            <div class="row flex">
              <span class="col flex">
                <mdl-select [(ngModel)]="child.assignedRoom" placeholder="Select Room">
                  <mdl-option *ngFor="let room of rooms" [value]="room.id">
                    {{room.name}}
                  </mdl-option>
                </mdl-select>
              </span>
              <span class="col flex"><app-datepicker [(ngModel)]="child.roomStartdate"></app-datepicker></span>
              <span class="col flex"><app-datepicker [(ngModel)]="child.roomEnddate"></app-datepicker></span>
            </div>
            <div class="row flex">
              <span class="col flex align-items-center justify-content-center red-color">{{errorMessage}}</span>
              <span class="col flex align-items-end justify-content-end">
                <button mdl-button mdl-ripple class="green-color" (click)="moveToRoom()">SAVE</button>
              </span>
            </div>
          </div>
          <!--//end first panel-->
        </div>
      </div>

    </div>
  </div>
</div>