.landing-page {
  margin: 5px 30px;
  .vista-logo {
    img {
      max-width: 15rem;
    }
  }
  .stabilizer {
    //TODO: media 560 flex-direction: row
    display: flex;
    margin-top: 20px;
    .lite-preview {
      flex: 1;
      padding: 15px;
      p {
        color: #fff;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: lighter;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .controls-wrapper {
      flex: 0 0 40%;

      .controls {
        text-align: center;
        color: #fff;
        p {
          margin: 5px;
        }
        mdl-button {
          width: 250px;
          border: 1px solid #3ab7a7;
          color: #fff;

          &.clean {
            border: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .stabilizer {
      flex-direction: column;

      .controls-wrapper .controls mdl-button {
        border: 1px solid #fff;
      }
    }
  }
}
