<div class="choose-org-type">
  <p class="title">
    Easy Fee’s Required Documentation.
  </p>
  <p>
    This documentation is required for Anti-Money Laundering purposes.
    Please find the organisation relevant to your own.
  </p>


  <div class="row tooltips">
    <div class="col type-col"></div>
    <div class="col">
      Bank Statement
    </div>
    <div class="col">
      Passport
    </div>
    <div class="col">
      Scanned copy of constitution documents
    </div>
    <div class="col">
      Copy of the latest annual return
    </div>
    <div class="col">
      Passport for all individuals in control of the body
    </div>
    <div class="col">
      Utility Bill
    </div>
  </div>
  <div class="row" (click)="setOrgType('LIMITED_COMPANY')">
    <div class="col type-col">
      Private/Limited Liability Company
    </div>
    <div class="col">
      <div class="point"></div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row" (click)="setOrgType('SOLETRADER')">
    <div class="col type-col">
      Sole Trader
    </div>
    <div class="col">
      <div class="point"></div>
    </div>
    <div class="col">
      <div class="point"></div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row" (click)="setOrgType('CLUB_OR_SOC')">
    <div class="col type-col">
      Clubs &amp; Societies
    </div>
    <div class="col">
      <div class="point"></div>
    </div>
    <div class="col">
      <div class="point"></div>
    </div>
    <div class="col">
      <div class="point"></div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">
      <div class="point"></div>
    </div>
  </div>
  <div class="row" (click)="setOrgType('CHARITY_RELIGIOUS')">
    <div class="col type-col">
      Community Centres / Charities
    </div>
    <div class="col">
      <div class="point"></div>
    </div>
    <div class="col"></div>
    <div class="col">
      <div class="point"></div>
    </div>
    <div class="col">
      <div class="point"></div>
    </div>
    <div class="col">
      <div class="point"></div>
    </div>
    <div class="col">
      <div class="point"></div>
    </div>
  </div>
  <div class="row" (click)="setOrgType('PARTNER_OR_ASSOC')">
    <div class="col type-col">
      Partnerships &amp; Associations
    </div>
    <div class="col">
      <div class="point"></div>
    </div>
    <div class="col"></div>
    <div class="col">
      <div class="point"></div>
    </div>
    <div class="col">
      <div class="point"></div>
    </div>
    <div class="col">
      <div class="point"></div>
    </div>
    <div class="col">
      <div class="point"></div>
    </div>
  </div>
</div>
