.simple-modal {
  mdl-textfield {
    width: 350px;
  }
  .error-message {
    margin: 5px 0;
    min-height: 24px;
  }

  .save-button {
    mdl-button {
      background-color: #96e1de;
      color: #5b5b5b;
    }
  }
}
