<div class="backdrop" [@backdrop]="showPopup">
  <div class="modal" [@modal]="showPopup">
    <div class="simple-popup">
      <div class="popup-header flex">
        <span class="btn"><mdl-icon (click)="destroy()" class="close-button">close</mdl-icon></span>
      </div>
      <div class="popup-content flex column">
        <div class="row flex">
          <div class="col">A mandate will be printed for "guardian_name". You will need to keep this ﬁle on record.<br>Please enter the guardian’s IBAN</div>
        </div>
        <div class="row flex">
          <div class="col">
            <mdl-textfield></mdl-textfield>
          </div>
        </div>
      </div>
      <div class="popup-footer flex">
        <mdl-button mdl-ripple (click)="destroy()">Print Mandate</mdl-button>
      </div>
    </div>
  </div>
</div>