<div class="transition-lists" mdl-shadow="2">
     <div class="panel-header flex">
      <div class="row flex">
        <div class="row flex flex1 justify-content-center">
          <span class="btn-tab" (click)="selectDateTab('0')" [class.active]="selectedDateID==='0'">
            <button mdl-button mdl-ripple>View All</button>
          </span>
        </div>
        <div class="row flex flex7">
          <app-scroll-navbar [datas]="months" [hidden]="!months" (sendData)="selectDateTab($event)" class="flex"></app-scroll-navbar>
        </div>
      </div>
    </div>
    <!--//start transition-lists-->
    <div class="panel-body">
      <div class="panel-body-inner flex column">
          <div class="row flex title">
            <div class="col flex strong-text">{{selectedDate}}</div>
            <!--<div class="col flex filter">Filter By</div>-->
          </div>
          <div class="row flex header bottom-border padding-top-bottom-10">
            <div class="col flex">Child Name</div>
            <div class="col flex">Current Room</div>
            <div class="col flex">Moving To...</div>
            <div class="col flex">Transition Date</div>
            <div class="col flex">Induction Complete</div>
            <div class="col flex">Child DOB</div>
          </div>
          <div class="row flex bottom-border padding-top-bottom-10" *ngFor="let list of [1,2,3,4,5,6,7,8]" (click)="showOccupancyModal = true">
            <div class="col flex">Maria Demery</div>
            <div class="col flex">Baby Room 1</div>
            <div class="col flex">Baby Room 1</div>
            <div class="col flex">01/10/2016</div>
            <div class="col flex">-</div>
            <div class="col flex"></div>
          </div>
      </div>
    </div>
    <!--//end transition-lists-->
</div>