<div class="transition-lists" mdl-shadow="2">
    <div class="panel-header flex justify-content-end">
      <app-scroll-navbar [datas]="datelist" [hidden]="!datelist" (sendData)="selectDateTab($event)" class="flex"></app-scroll-navbar>
      <!--<span class="btn-tab" *ngFor="let list of datelist; let idx=index;" (click)="selectDateTab(idx)" [class.active]="list.active">
        <button mdl-button mdl-ripple>{{list.name}}</button>
      </span>-->
    </div>
    <!--//start transition-lists-->
    <div class="panel-body">
      <div class="panel-body-inner flex column">
          <div class="row flex ">
            <div class="col flex strong-text">{{selectedDate}}</div>
            <div class="col flex filter">Filter By</div>
          </div>
          <div class="row flex header bottom-border padding-top-bottom-10">
            <div class="col flex">Child Name</div>
            <div class="col flex">Current Room</div>
            <div class="col flex">Moving To...</div>
            <div class="col flex">Transition Date</div>
            <div class="col flex">Induction Complete</div>
            <div class="col flex">Child DOB</div>
          </div>
          <div class="row flex bottom-border padding-top-bottom-10" *ngFor="let list of [1,2,3,4,5,6,7,8]" (click)="showOccupancyModal = true">
            <div class="col flex">Maria Demery</div>
            <div class="col flex">Baby Room 1</div>
            <div class="col flex">Baby Room 1</div>
            <div class="col flex">01/10/2016</div>
            <div class="col flex">-</div>
            <div class="col flex"></div>
          </div>
      </div>
    </div>
    <!--//end transition-lists-->
</div>