<div class="capitations">
  <span
    [mdl-tooltip]="offTooltip"
    [class.off]="value == 'low'"
    (click)="setValue('low')">
      LOW
  </span>
  <span
    [mdl-tooltip]="mixedTooltip"
    [class.mixed]="value == 'mixed'"
    (click)="setValue('mixed')">
      MIXED
  </span>
  <span
    [mdl-tooltip]="onTooltip"
    [class.on]="value == 'high'"
    (click)="setValue('high')">
      HIGH
  </span>

  <mdl-tooltip #onTooltip="mdlTooltip">
    Set High weekly rate - €75. Please check eligibility
  </mdl-tooltip>
  <mdl-tooltip #mixedTooltip="mdlTooltip">
    For centres in receipt of the high capitation but using the low to calculate fees
  </mdl-tooltip>
  <mdl-tooltip #offTooltip="mdlTooltip">
    Set LOW weekly rate - €64.50
  </mdl-tooltip>
</div>
